{% extends "base.html" %}

{% block page_content %}
<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2><b>Lịch sử mua hàng</b></h2>
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
                        <th>Mã đơn hàng</th>
                        <th>Ngày</th>
                        <th>Tổng giá trị</th>
                        <th>Trạng thái</th>
						<th>Địa chỉ</th>
                        <th>Thao tác</th>
					</tr>
				</thead>
				<tbody>
					{% for order in orderList %}
					<tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.created_at }}</td>
						<td>{{ order.total | conv_curr }}</td>
						<td>{{ order.status }}</td>
						<td>{{order.address.road}}, {{order.address.ward}}, {{order.address.district}}, {{order.address.city}}</td>
                        <td>
							<a href="/history/orderdetail/{{ order.id }}">Xem</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
